@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

.sidebar {
    background-color: #0d9488;
    color: #e5e7eb;
    grid-row: 1 / 6;
    padding: 1.5em;
}

#title {
    font-size: 36pt;
    margin-bottom: 50px;
}

.sidebar-items {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.sidebar-section-1 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

.sidebar-items > li, .sidebar-section-1 > li {
    font-size: 16pt;
    font-weight: bold;
}

.navbar {
    padding: 10px 20px 10px 20px;
    margin-bottom: 200px;
    grid-column: 2 / 5;
}

.navbar-items {
    list-style: none;
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 3fr);
    align-items: center;
    gap: 20px;
}

#search {
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 15px 27em;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.3);
}

#notification-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4 / 4;
}

#notification-profile > p {
    width: 100px;
    font-size: 18px;
    margin-right: 20px;
}

.profile-picture {
    width: 50px;
    margin: 0 20px 0 30px;
}

.m-20 {
    margin-right: 20px;
}

.m-10 {
    margin-right: 9px;
}

.profile-picture-2 {
    width: 75px;
    margin-left: 20px;
}

.nav-item > h6 {
    font-size: 20pt;
}