@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

.sidebar {
    background-color: #0d9488;
    color: #e5e7eb;
    grid-row: 1 / 6;
    padding: 2em;
}

#title {
    font-size: 36pt;
    margin-bottom: 50px;
}

.sidebar-items {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.sidebar-section-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.sidebar-items > li, .sidebar-section-1 > li {
    font-size: 16pt;
    font-weight: bold;
}

.navbar {
    position: relative;
    padding: 10px 20px;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    box-shadow: 0px 18px 15px -3px rgba(0,0,0,0.1);
}

.navbar-items {
    list-style: none;
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 3fr);
    align-items: center;
    gap: 20px;
}

#search {
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 15px 27em;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.3);
}

#notification-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4 / 4;
}

#notification-profile > p {
    width: 100px;
    font-size: 18px;
    margin-right: 20px;
}

.profile-picture {
    width: 50px;
    margin: 0 20px 0 30px;
}

.m-20 {
    margin-right: 20px;
}

.m-10 {
    margin-right: 9px;
}

.profile-picture-2 {
    width: 75px;
    margin-left: 20px;
}

.nav-item {
    margin-left: 20px;
}

.nav-item > h6 {
    font-size: 20pt;
}

.nav-buttons {
    padding: 12px 40px;
    border-radius: 20px;
    background-color: #0d9488;
    border-style: none;
    color: white;
    font-weight: bold;
}

.secondary-navbar {
    grid-column: 1 / 5;
    display: flex;
    align-items: center; 
}
.button {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px
}

button > span {
    font-size: 12pt;
    font-weight: bold;
}

.main-content {
    background-color: #e2e8f0;
    grid-row: 2 / 6;
    grid-column: 2 / 5;
    padding: 30px;
    display: grid;
    grid-template-rows: 0.2fr repeat(3,0.5fr);
    grid-template-columns: repeat(2,1fr) 0.7fr;
    gap: 20px;
}

#announcements {
    grid-column: 3 / 4;
}

.content-column-1 {
    background: linear-gradient(
    to right,
    #65c9ff,
    #65c9ff 1rem,
    white 1rem,
    white 100%
  );
    grid-column: 1 / 2;
    height: 145px;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
}

.content-column-1 > h3 {
    margin-top: 20px;
}

.content-column-1 > p {
    font-weight: 400;
    color: gray;
}

.content-column-2 > h3 {
    margin-top: 20px;
}

.content-column-2 > p {
    font-weight: 400;
    color: gray;
}

.content-column-2 {
    background: linear-gradient(
    to right,
    #65c9ff,
    #65c9ff 1rem,
    white 1rem,
    white 100%
    );
    grid-column: 2 / 3;
    height: 145px;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
}

#col_2-box_1 {
    grid-row: 2 / 3;
}

#col_2-box_2 {
    grid-row: 3 / 4;
}

#col_2-box_3 {
    grid-row: 4 / 5;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 20px;
}

.icons-footer {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.announcements-section {
    background-color: white;
    border-radius: 10px;
    grid-row: 1 / 4;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcements-section > h5 {
    font-size: 20px;
    margin-bottom: 5px;
}

.announcements-section > p {
    color: gray;
    font-size: 12px;
    max-width: 275px;
    margin-bottom: 5px;
}

.announcements-section > hr {
    margin: 10px 0;
}

.trending {
    grid-row: 4 / 5;
}

.trending > h2 {
    margin-top: 20px;
}

.trending-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
}

.items {
    list-style: none;
    display: flex;
}

.items > p {
}

.trending-section > img {
    width: 50px;
    height: 50px;
}

.trending-section > li {
    list-style: none;
}

li > img {
    width: 50px;
    height: 50px;
}